<div class="section">
  <h1> שלום ל{{driver.Name}}</h1>
  <div class="form">
    <div class="img"><img src="../../../assets/images/car.png" /></div>
    <ul>
      <li><button class="btn" (click)="edit()">עדכון פרטים אישיים</button></li>
      <li><button class="btn" (click)="addTravel()">הוספת נסיעה</button></li>
      <li><button class="btn" (click)="getTravelings()">צפיה בנסיעות</button></li>
      <li><button class="btn" (click)="getPayments()">צפיה בתשלומים</button></li>
    </ul>
  </div>
</div>