.section{
  height: 80vh;
  text-align: center;

  h1{
    color:#bb3209;
    font-size: 30px;
    font-weight: 300;
    margin-top: 50px;
    text-align: center;
  }
  
  .img {
    width: 150px;
    height:auto;
    margin:auto ;
    border-radius: 100%;
    box-sizing: border-box;
  
    img {
      display: block;
      width: 100%;
    }
  }
  .slider {
    position: relative;
    width: 300px;
    height: 250px;
    margin: auto;
    overflow: hidden;
  }
  .slide {
    text-align: center;
    color:rgb(0,39,58);
    border: 6px solid #bb3209;;
    padding: 30px;
    width: 300px;
    height: 250px;
    position: absolute;
    // Add transition
    transition: 0.6s ease;
    // Move slides off to the left  by default
    transform: translate(-100%, 0);
    // Set active slide to be in the viewport
    &.active {
      direction: rtl;
      transform: translate(0, 0);
      // Use sibling selector to position all slides after the active slide to the right
      & ~ .slide {
        transform: translate(100%, 0);
      }
    }
  
    .mat-form-field {
      margin-right: 4px;
    }
    mat-form-field,.slide,input{
      text-align: right;
    }
    .main-content {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      margin-top: 10%;
  
      .btnOk{
        background: transparent;
        border: 3px solid rgb(0,39,58);
        border-radius: 50px;
        padding: 0.8rem 2rem;
        font: 24px "Margarine", sans-serif;
        outline: none;
        cursor: pointer;
        position: relative;
        transition: 0.2s ease-in-out;
        letter-spacing: 2px;
      }
      
      .item {
        display: grid;
        justify-content: left;
  
        &:not(.footer) {
          padding-top: 4rem;
          
        }
        @media   (max-width:425px) {  
          &:not(.footer) {
            margin-left: 24%;
            width: 60%;

          }
        }
        @media   (min-width:425px) {  
          &:not(.footer) {
            padding-top: 1rem;
            margin-left: 24%;
            width: 60%;
          }
        }
  
        .footer {
          flex-wrap: wrap;
          padding: 5rem;
          text-align: center;
          font-size: 18px;
          line-height: 1.7;
          grid-column: span 1;
          @media screen and (min-width:823px) and (max-width:1223px) {
            grid-column: span 2;
          }
          a {
            text-decoration: none;
            color: #fff;
            padding: 3px 0;
            border-bottom: 1px dashed;
            &:hover {
              border-bottom: 1px solid;
            }
          }
          }
      }
  
      .button-hand button {
        &:before {
          content: "👇";
          font-size: 60px;
          transform: scaleX(-1);
          right: 0px;
          top: -68px;
          animation: up-down 1s infinite;
        }
        .hands {
          &:before,
          &:after {
            content: "👇";
            font-size: 40px;
            opacity: 0;
            transition: 0.4s ease-in-out;
          }
          &:before {
            transform: rotate(-60deg);
            left: -45px;
            top: -10px;
          }
          &:after {
            transform: rotate(170deg);
            right: 30px;
            top: 50px;
          }
        }
        &:hover .hands {
          &:before {
            opacity: 1;
            left: -35px;
          }
          &:after {
            opacity: 1;
            top: 40px;
          }
        }
        }
    }
  
    .mat-tree-node{
      min-height: 23px;
      height: 30px;
    }
  
    .mat-tree{
      background-color: transparent;
    }
  
    .btnIcon{
      padding: 0px;
    }
  }
  @media   (max-width:425px) {
    .slide{
      padding: 0.5%;  
    }  
  }
  @media   (min-width:425px) {
    .slide{
      width: 600px;
      height: 300px;  
    }  
    .slider{
      width: 600px;
      height: 300px;
    }
  }
  
  #btnPanel{
    text-align: center;
  
    .btn{
      margin-top: 20px;
      font-size:  17px;
      color: white;
      border-radius: 50px;
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
      background-color: rgb(0,39,58);
    }
    .btn:hover{
      background-color:#bb6257 ;
    }
  
    #previous{
      margin-right:  5%;
      border-radius: 50px;
      border-top-right-radius: 0%;
      border-bottom-right-radius: 0%;
    }
  }
  button {
  border: none;
  border-radius: 0;
  background: rgba(243, 231, 235, 0.363);
  color: rgb(15, 9, 9);
  cursor: pointer;
  }

  @keyframes up-down {
    50% {
      margin-top: -20px;
    }
  }

  footer {
    margin-top: 1.5rem;
    a {
      text-decoration: none;
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: transparent;
      border: 1px dashed #fff;
      color: #fff;
      margin: 5px;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
      .icons {
        margin-top: 8px;
        display: inline-block;
        font-size: 20px;
        &:before {
          position: relative;
        }
      }
    }
    }
    
    * {
    box-sizing: border-box;
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    }

  .button__wrapper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .button-pulse {
    .button__wrapper:hover .pulsing {
      &:before {
        animation: pulsing 0.2s linear infinite;
      }
      &:after {
        animation: pulsing1 0.2s linear infinite;
      }
    }
    }
    
    .pulsing {
    width: 99%;
    height: 99%;
    border-radius: 50px;
    z-index: 1;
    position: relative;
    
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      border: inherit;
      top: 0;
      left: 0;
      z-index: 0;
      background: #fff;
      border-radius: inherit;
      animation: pulsing 2.5s linear infinite;
    }
    &:after {
      animation: pulsing1 2.5s linear infinite;
    }
    }
    
    @keyframes pulsing {
    0% {
      opacity: 1;
      transform: scaleY(1) scaleX(1);
    }
    20% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.2;
      transform: scaleY(1.8) scaleX(1.4);
    }
    80% {
      opacity: 0;
      transform: scaleY(1.8) scaleX(1.4);
    }
    90% {
      opacity: 0;
      transform: scaleY(1) scaleX(1);
    }
    }
    @keyframes pulsing1 {
    0% {
      opacity: 1;
      transform: scaleY(1) scaleX(1);
    }
    20% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.2;
      transform: scaleY(1.3) scaleX(1.15);
    }
    80% {
      opacity: 0;
      transform: scaleY(1.3) scaleX(1.15);
    }
    90% {
      opacity: 0;
      transform: scaleY(1) scaleX(1);
    }
    }
    
    .button-typewriter {
    button {
      width: 100%;
      height: 100%;
    }
    p {
      animation: typing 4s steps(12) infinite;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
    }
    .button__wrapper:hover p {
      animation: blink 0.3s infinite;
    }
    }
    
    @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    55%,
    65%,
    75% {
      opacity: 1;
    }
    60%,
    70% {
      opacity: 0;
    }
    80% {
      width: 100%;
    }
    100% {
      width: 0;
    }
    }
    
    .button-parrot {
    .parrot {
      position: absolute;
      width: 60px;
      text-align: center;
      animation: blink 0.8s infinite;
      color: transparent;
      &:before {
        content: "Click Me!";
      }
      &:nth-child(1) {
        top: -30px;
        left: -40px;
        font: 12px/1 "Margarine", sans-serif;
        transform: rotate(-20deg);
        animation-duration: 0.5s;
      }
      &:nth-child(2) {
        font: 12px/1 "Margarine", sans-serif;
        right: -40px;
        top: -20px;
        transform: rotate(15deg);
        animation-duration: 0.3s;
      }
      &:nth-child(3) {
        font: 16px/1 "Margarine", sans-serif;
        top: -60px;
        left: 15px;
        transform: rotate(10deg);
        animation-duration: 1s;
      }
      &:nth-child(4) {
        font: 18px/1 "Margarine", sans-serif;
        top: -70px;
        left: 95px;
        transform: rotate(2deg);
        animation-duration: 0.7s;
      }
      &:nth-child(5) {
        font: 14px/1 "Margarine", sans-serif;
        top: 80px;
        left: 105px;
        transform: rotate(-20deg);
        animation-duration: 0.8s;
      }
      &:nth-child(6) {
        font: 12px/1 "Margarine", sans-serif;
        top: 80px;
        left: 5px;
        transform: rotate(10deg);
        animation-duration: 1.2s;
      }
    }
    button:hover .parrot:before {
      content: "Do it!";
      width: 70px;
    }
    }
    
    @keyframes blink {
    25%,
    75% {
      color: transparent;
    }
    40%,
    60% {
      color: #fff;
    }
    }
}