<ng4-loading-spinner> </ng4-loading-spinner>

<div class="section">
  <h1>הרשמה</h1>
  <div class="img"><img src="../../../assets/images/car.png" /></div>
  <form class="login-form">
    <section class="example-section">
      <mat-radio-group [(ngModel)]="selectGender" name="select">
        בן <mat-radio-button class="example-margin" value="male"></mat-radio-button>
        בת <mat-radio-button class="example-margin" value="female"></mat-radio-button>
        <label class="example-margin"> : מין</label>
      </mat-radio-group>
    </section><br>
    <mat-form-field class="field">
      <mat-label>מספר זהות</mat-label>

      <input matInput type="text" placeholder="מספר זהות" [(ngModel)]="user.Identity" required name="tz">
      <mat-error>.שדה חובה</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="field">
      <mat-label>שם מלא</mat-label>
      <input matInput type="text" placeholder="שם מלא" [(ngModel)]="user.Name" required name="name">
      <mat-error>.שדה חובה</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="field" class="example-full-width">
      <mat-label>מייל</mat-label>
      <input matInput [formControl]="emailFormControl" [(ngModel)]="user.Mail" [errorStateMatcher]="matcher"
        placeholder="Ex.123@gmail.com" name="mail" value="ester85056@gmail.com">

      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        .הכנס בבקשה כתובת מייל חוקית
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        <strong>.שדה חובה</strong>
      </mat-error>
    </mat-form-field>
    
    <div class="tabs">
      <button class="btn" (click)="SaveDetails()">שמור</button>
    </div>

  </form>
</div>