<div class="container">

  <div class="login" id="go">
  
    <h1 class="login-heading">Login or register 
      <span data-line="••••••">••••••</span> </h1>
      
    <form method="post">
      
        <input type="email" 
               name="user" 
               placeholder="eva@example.com"  
               class="input-txt" required/>
    
        <input type="password" 
               name="password" 
               placeholder="Password" 
               minlength="5"
               class="input-txt" value="secret" />
          <div class="login-footer">
            <a href="#go" class="btn js-submit">
              <span data-proccess="Processing...">Continue</span>
            </a>        
          </div>
      </form>

  </div>
  
  <div class="content-after-anim">
    <a href="#" class="js-reload">reload</a>
  </div>

</div>