<nav class="nav">
    <ul class="row">
        <li class="col">
            <a routerLink="about">
                <i class="material-icons"> airport_shuttle</i>
                <p>אודותינו</p>
            </a>
        </li>
        <li class="col">
            <a routerLink="edit-user">
                <i class="material-icons"> person</i>
                <p>אזור אישי </p>
            </a>
        </li>
        <li class="col">
            <a (click)=home()>
                <i class="material-icons"> home</i>
                <p>דף הבית</p>
            </a>
        </li>
    </ul>
</nav>