mat-form-field{
    text-align: right;
  }
 
a{
    margin-left: 96%;
}
 .btnOk{
            background: rgb(0,39,58);
            width: 80%;
            border: 0;
            border-radius: 3px;
            color: #F1C495;
            font-size: 14px;
            cursor: pointer;
            margin-left: 5%;
   }
        h2{
            text-align: center;
            color:#bb3209;
        }

        h1{
            text-align: center;
            color:rgb(0,39,58); 
        }

 