 
<body class="hm-gradient">
    
    <main>
        
        <!--MDB Forms-->
        <div class="container mt-4">
 
            <!-- Grid row -->
            <div class="row">
             
            </div>
          
                <div class="col-md-6 mb-4">
                    <div class="card ripe-malinka-gradient form-white">
                        <div class="card-body">
                            <!-- Form register -->
                            <form>
                                <h2 class="text-center font-up font-bold py-4 white-text">Sign up</h2>
                                
                                <div class="md-form">
                                    <i class="fa fa-lock prefix white-text"></i>
                                    <input type="password" id="orangeForm-pass2" class="form-control">
                                    <label for="orangeForm-pass2">Your password</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-user prefix white-text"></i>
                                    <input type="text" id="orangeForm-name2" class="form-control">
                                    <label for="orangeForm-name2">Your name</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix white-text"></i>
                                   
                                    <input type="text" id="orangeForm-email2" class="form-control">
                                    <label for="orangeForm-email2">Your email</label>
                                </div>
                               
                              
                                 
                                <!-- <div class="element"> -->
                                    <div class="el-child">
                                        <div class="ui-checkbox bg-dodgerblue ui-medium ui-animation-zoom round">
                                            <input type="radio" id="male" name="gender">
                                            <span class="ui-custom">
                                                <span class="ui-checked"><i class="fas fa-male"></i></span>
                                            </span>
                                        </div>
                                        <label for="male">Male</label>
                                    </div>
                                    <div class="el-child">
                                        <div class="ui-checkbox bg-dodgerblue ui-medium ui-animation-zoom round">
                                            <input type="radio" id="female" name="gender">
                                            <span class="ui-custom">
                                                <span class="ui-checked"><i class="fas fa-female"></i></span>
                                            </span>
                                        </div>
                                        <label for="female">Female</label>
                                    </div>
                                <!-- </div> -->
                            </form>
                            <!-- Form register -->
                        </div>
                    </div>
                </div>
              
            <!-- </div> -->
           
        </div>
        <!--MDB Forms-->
      
    </main>
  
</body>

 