 <!-- <div class="slider">
  <div class="slide active">
 <h3>פרטי נסיעה</h3>
  <div class="thumbnail"><img src="../../../assets/images/car.png" /></div>
  <form class="login-form">
    
    <p  >    נקודת מוצא : {{traveling.Source}}    </p>
    <p  >    נקודת יעד : {{traveling.Destination}}    </p>
    <p  >    ימים בשבוע : {{traveling.Weekday}}    </p>
    <p  >מתאריך : {{traveling.FromDate | date: 'dd/MM/yyyy'}}</p>
    <p  >עד תאריך : {{traveling.ToDate | date: 'dd/MM/yyyy'}}</p>
 
  </form>
 
  </div>
</div> -->

<div class="section">
  <div class="line"></div>
  <h2>פרטי נסיעה</h2>
  <div class="line"></div>
  <div class="img"><img src="../../../assets/images/car.png" /></div>
  <p  >    נקודת מוצא : {{traveling.Source}}    </p>
  <p  >    נקודת יעד : {{traveling.Destination}}    </p>
  <p  >    ימים בשבוע : {{traveling.Weekday}}    </p>
  <p  >מתאריך : {{traveling.FromDate | date: 'dd/MM/yyyy'}}</p>
  <p  >עד תאריך : {{traveling.ToDate | date: 'dd/MM/yyyy'}}</p>
</div>