.body{
    text-align: center;
    color: #bb3209;
    font-size: 20px;
}
    @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
 

h3 {
  font-weight: 70;
    font-family: 'Lato';
  text-align: center;
  font-size:33px;
  padding: 5%;
  
}
h3 span {
  animation: font-weight 3s infinite;
}
h3 span:nth-child(2) {
  animation-delay: .1s;
}
h3 span:nth-child(3) {
  animation-delay: .2s;
}
h3 span:nth-child(4) {
  animation-delay: .3s;
}
h3 span:nth-child(5) {
  animation-delay: .4s;
}
h3 span:nth-child(6) {
  animation-delay: .5s;
}
h3 span:nth-child(7) {
  animation-delay: .6s;
}
h3 span:nth-child(8) {
  animation-delay: .7s;
}
h3 span:nth-child(9) {
  animation-delay: .8s;
}
h3 span:nth-child(10) {
  animation-delay: .9s;
}
h3 span:nth-child(11) {
    animation-delay: .10s;
  }
  h3 span:nth-child(12) {
    animation-delay: .11s;
  }
  h3 span:nth-child(13) {
    animation-delay: .12s;
  }
  h3 span:nth-child(14) {
    animation-delay: .13s;
  }
  h3 span:nth-child(15) {
    animation-delay: .14s;
  }

@keyframes font-weight {
  50% {
    font-weight: 900;
  }
}
#div
{
  color:rgb(0,39,58);
  // margin-top: -60%;
  // margin-bottom: 20%;
  font-size: 15px;

  h4{
    font-size: 15px;
    font-weight: 600;
  }
}


